body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

#content {
    width: 960px;
    margin: 80px auto;
    position: relative;
}

#basic, #output {
    font-family: monospace;
    font-size: 24px;
    box-sizing: border-box;
    width: 480px;
    height: 550px;
    float: left;
}

#run {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px 40px;
    background-color: green;
    color: white;
    border: none;
}

#output li {
    list-style: none;
    padding: 0;
}
